name: CI

on: [push, pull_request]

env:
  CARGO_TERM_COLOR: always

jobs:
  commitlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Install NodeJS
        uses: actions/setup-node@v4
      - name: Versions
        run: |
          git --version
          node --version
          npm --version
          npx commitlint --version
      - name: Install commitlint
        run: |
          npm install conventional-changelog-conventionalcommits
          npm install commitlint@latest

      - name: Validate current commit (last commit) with commitlint
        if: github.event_name == 'push'
        run: npx commitlint --from HEAD~1 --to HEAD --verbose

      - name: Validate PR commits with commitlint
        if: github.event_name == 'pull_request'
        run: npx commitlint --from ${{ github.event.pull_request.head.sha }}~${{ github.event.pull_request.commits }} --to ${{ github.event.pull_request.head.sha }} --verbose

  clippy:
    needs: commitlint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-build-stable-${{ hashFiles('**/Cargo.toml') }}
      - uses: dtolnay/rust-toolchain@nightly
        with:
          components: clippy
      - run: cargo clippy -- -Dwarnings

  build:
    needs: [commitlint, clippy]
    strategy:
      fail-fast: false
      matrix:
        os: ["windows", "macos", "ubuntu"]
        configuration: ["debug", "release"]
    runs-on: ${{ matrix.os }}-latest
    steps:
    - name: Install LLD on Windows
      if: matrix.os == 'windows'
      run: |
        cargo install -f cargo-binutils
        rustup component add llvm-tools-preview
    - name: Install LLD on macOS
      if: matrix.os == 'macos'
      run: brew install llvm
    - name: Install LLD on Ubuntu
      if: matrix.os == 'ubuntu'
      run: sudo apt-get install lld
    - uses: actions/checkout@v4
    - uses: actions/cache@v3
      with:
        path: |
          ~/.cargo/bin/
          ~/.cargo/registry/index/
          ~/.cargo/registry/cache/
          ~/.cargo/git/db/
          target/
        key: ${{ runner.os }}-cargo-build-stable-${{ hashFiles('**/Cargo.toml') }}
    - name: Cargo build
      run: cargo build --verbose ${{ matrix.configuration == 'release' && '--release' || '' }}
    - name: Upload binary
      uses: actions/upload-artifact@v4.0.0
      with:
        name: Ruxel-${{ matrix.os }}-${{ matrix.configuration }}
        path: target/${{ matrix.configuration }}/ruxel${{ matrix.os == 'windows' && '.exe' || '' }}

  format:
    needs: commitlint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-build-stable-${{ hashFiles('**/Cargo.toml') }}
      - uses: dtolnay/rust-toolchain@nightly
        with:
          components: rustfmt
      - run: echo "${HOME}/.cargo/bin" >> $GITHUB_PATH
      - name: Rust format on commit
        if: github.event_name == 'push'
        uses: mbrobbel/rustfmt-check@master
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: |
            style: auto format

            Automated commit from Github Actions
      - name: Rust format on pull request
        if: github.event_name == 'pull_request'
        run: cargo fmt --all -- --check

  toml:
    needs: commitlint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install taplo
        run: |
          curl -fsSL https://github.com/tamasfe/taplo/releases/latest/download/taplo-full-linux-x86_64.gz \
          | gzip -d - \
          | install -m 755 /dev/stdin /usr/local/bin/taplo
      - name: Run Taplo
        id: taplo
        run: taplo fmt --check --diff
      - name: Taplo info
        if: failure()
        run: |
          echo 'To fix toml fmt, please run `taplo fmt`'
          echo 'Or if you use VSCode, use the Even Better Toml extension'

  markdown-lint:
    needs: commitlint
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: read
      # To report GitHub Actions status checks
      statuses: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          # super-linter needs the full git history to get the
          # list of files that changed across commits
          fetch-depth: 0

      - name: Super-linter
        uses: super-linter/super-linter/slim@v5.7.2  # x-release-please-version
        env:
          MULTI_STATUS: false
          VALIDATE_MARKDOWN: true
